.slidev-layout {
	@apply py-8;
}

/* obviously chapter title */
.chapter-title {
	@apply text-3xl !important;
}

.chapter-subtitle {
	@apply text-3xl !important;
}

/* small chapter marker  */
.chapter-marker {
	@apply absolute top-2 right-2 !m-0 text-gray-500;
	opacity: 0.5;
}

/* page title */
.slidev-layout h1 {
	@apply text-7xl;
}

/* subtitles  */
.slidev-layout h2 {
	@apply text-3xl;
}

/* h3 is too broken */

/* important paragraph */
.slidev-layout h4 {
	@apply text-5xl !font-light my-5;
}

/* less important paragraph */
.slidev-layout h5 {
	@apply text-2xl !font-light my-3;
}

.slidev-layout ul, .slidev-layout h2 {
	@apply mt-2 !important;
}

.slidev-layout ul {
	@apply text-2xl;
}

.slidev-layout li > ul {
	@apply !mt-0;
}

.slidev-layout img {
	max-height: 38vh;
	@apply mx-auto;
}

:not(pre) > code::before, :not(pre) > code::after {
	content: '';
	opacity: inherit;
	@apply px-1;
}
