@tailwind base;

@tailwind components;

@tailwind utilities;

html {
	font-size: 18px
}
@screen sm {
	html {
		font-size: 20px
	}
}
/*@screen md {
	html {
		font-size: 22px
	}
}*/
/*@screen lg {
	html {
		font-size: 26px
	}
}*/

body {
	overflow-x: hidden;
}
.nuxt-content {
	@apply prose max-w-none prose-sm lg_prose xl_prose-lg mb-6;

}

.nuxt-content img {
	@apply mx-auto;
}

.nuxt-content pre, .nuxt-content table {
	display: block;
	overflow-x: scroll;
}

.toc-link.nuxt-link-exact-active {
	@apply text-blue-800;
}


a {
	@apply text-gray-900 font-medium underline;
}
a:hover {
	@apply text-blue-800;
}

button, .btn {
	@apply py-2 px-4 border rounded;
}
button:hover, .btn:hover {
	@apply bg-gray-50;
}

b {
	@apply font-bold;
}


.icon {
	display: inline-block;
	fill: currentColor;
	vertical-align: middle;
	overflow: hidden;
}
